body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
}

main a {
    color: #851944;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
}

.titulo-principal {
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

.conteudo {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.citacao {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
    margin: 0;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.navegacao-site h1{
    margin-bottom: 25px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
}

.icone-github {
    background-image: url(github.png);
}

.icone-twitter {
    background-image: url(twitter.png);
}

.icone-linkedin {
    background-image: url(linkedin.png);
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

blockquote, aside, footer {
    padding: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}